#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* --- RANGÉE 0 (14 touches) --- */
                &kp ESC    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL &kp BSPC
                /* --- RANGÉE 1 (14 touches) --- */
                &kp TAB    &kp A     &kp Z     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT  &kp RET
                /* --- RANGÉE 2 (13 touches) --- */
                &kp CLCK   &kp Q     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT             &kp NUHS
                /* --- RANGÉE 3 (14 touches) --- */
                &kp LSHFT  &kp NUBS  &kp W     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH &kp RALT  &kp RSHFT
                /* --- RANGÉE 4 (8 touches) --- */
                &kp LCTRL  &kp LGUI  &mo 1     &kp SPACE                                         &kp SPACE &kp RALT  &kp RGUI  &kp RCTRL
            >;
        };

        system_layer {
            bindings = <
                /* --- RANGÉE 0 --- */
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none &none &none &none &none &none &none &none &none &none
                /* --- RANGÉE 1 --- */
                &none      &none        &none        &none        &none &none &none &none &none &none &none &none &none &none
                /* --- RANGÉE 2 --- */
                &none      &none        &none        &none        &none &none &none &none &none &none &none &none       &none
                /* --- RANGÉE 3 --- */
                &none      &none        &none        &none        &none &none &none &none &none &none &none &none &none &none
                /* --- RANGÉE 4 --- */
                &none      &none        &none        &none                                      &none &none &none &none
            >;
        };

        extra_layer_1 { status = "reserved"; };
        extra_layer_2 { status = "reserved"; };
    };
};
