#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Mon Clavier Split 110mAh";
        transform = <&matrix_transform0>;

        keys
            = <&key_physical_attrs 100 100    0   0> // Esc
            , <&key_physical_attrs 100 100  100   0> // 1
            , <&key_physical_attrs 100 100  200   0> // 2
            , <&key_physical_attrs 100 100  300   0> // 3
            , <&key_physical_attrs 100 100  400   0> // 4
            , <&key_physical_attrs 100 100  500   0> // 5
            , <&key_physical_attrs 100 100  600   0> // 6
            , <&key_physical_attrs 100 100  700   0> // 7
            , <&key_physical_attrs 100 100  800   0> // 8
            , <&key_physical_attrs 100 100  900   0> // 9
            , <&key_physical_attrs 100 100 1000   0> // 0
            , <&key_physical_attrs 100 100 1100   0> // -
            , <&key_physical_attrs 100 100 1200   0> // =
            , <&key_physical_attrs 200 100 1300   0> // Backspace

            , <&key_physical_attrs 150 100    0 100> // Tab
            , <&key_physical_attrs 100 100  150 100> // A
            , <&key_physical_attrs 100 100  250 100> // Z
            , <&key_physical_attrs 100 100  350 100> // E
            , <&key_physical_attrs 100 100  450 100> // R
            , <&key_physical_attrs 100 100  550 100> // T
            , <&key_physical_attrs 100 100  650 100> // Y
            , <&key_physical_attrs 100 100  750 100> // U
            , <&key_physical_attrs 100 100  850 100> // I
            , <&key_physical_attrs 100 100  950 100> // O
            , <&key_physical_attrs 100 100 1050 100> // P
            , <&key_physical_attrs 100 100 1150 100> // [
            , <&key_physical_attrs 100 100 1250 100> // ]
            , <&key_physical_attrs 150 100 1350 100> // Enter (Top part)

            , <&key_physical_attrs 175 100    0 200> // Caps Lock
            , <&key_physical_attrs 100 100  175 200> // Q
            , <&key_physical_attrs 100 100  275 200> // S
            , <&key_physical_attrs 100 100  375 200> // D
            , <&key_physical_attrs 100 100  475 200> // F
            , <&key_physical_attrs 100 100  575 200> // G
            , <&key_physical_attrs 100 100  675 200> // H
            , <&key_physical_attrs 100 100  775 200> // J
            , <&key_physical_attrs 100 100  875 200> // K
            , <&key_physical_attrs 100 100  975 200> // L
            , <&key_physical_attrs 100 100 1075 200> // M / :
            , <&key_physical_attrs 100 100 1175 200> // ^
            , <&key_physical_attrs 100 100 1275 200> // # / ~

            , <&key_physical_attrs 125 100    0 300> // Shift L
            , <&key_physical_attrs 100 100  125 300> // <
            , <&key_physical_attrs 100 100  225 300> // W
            , <&key_physical_attrs 100 100  325 300> // X
            , <&key_physical_attrs 100 100  425 300> // C
            , <&key_physical_attrs 100 100  525 300> // V
            , <&key_physical_attrs 100 100  625 300> // B
            , <&key_physical_attrs 100 100  725 300> // N
            , <&key_physical_attrs 100 100  825 300> // M
            , <&key_physical_attrs 100 100  925 300> // ,
            , <&key_physical_attrs 100 100 1025 300> // .
            , <&key_physical_attrs 100 100 1125 300> // /
            , <&key_physical_attrs 275 100 1225 300> // Shift R

            , <&key_physical_attrs 150 100    0 400> // Ctrl L
            , <&key_physical_attrs 100 100  150 400> // Win L
            , <&key_physical_attrs 125 100  250 400> // Alt L
            , <&key_physical_attrs 225 100  375 400> // Space L
            , <&key_physical_attrs 400 100  600 400> // Space R
            , <&key_physical_attrs 125 100 1000 400> // Alt Gr
            , <&key_physical_attrs 125 100 1125 400> // Win R
            , <&key_physical_attrs 125 100 1250 400> // FN / Menu (Vide)
            , <&key_physical_attrs 125 100 1375 400> // Studio Unlock (Ctrl R)
            ;
    };
};
